services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - db-data:/app

  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  db-data:
